/*
	Timeout Demo example resource file.
*/

#include <windows.h>
#include "resource.h"

#include "pdlg.rc"


IDM_TIMEOUT MENU DISCARDABLE
BEGIN
    POPUP "&Port"
    BEGIN
        MENUITEM "&Open",                       IDM_PORT_OPEN
        MENUITEM "&Close",                      IDM_PORT_CLOSE
        MENUITEM SEPARATOR
        MENUITEM "&Exit",                       IDM_PORT_EXIT
    END
    MENUITEM "&Setting...",                 IDM_PORT_SETTING
    POPUP "Timeout Demo"
    BEGIN
        MENUITEM "Polling Write",               IDM_WRITE_POLL
        MENUITEM "Block Write",                 IDM_WRITE_BLOCK
        MENUITEM "Block Write(Timeout)",        IDM_WRITE_TIMEOUT
        MENUITEM SEPARATOR
        MENUITEM "Polling Read",                IDM_READ_POLL
        MENUITEM "Block Read",                  IDM_READ_BLOCK
        MENUITEM "Block Read(Total Timeout)",   IDM_READ_BLOCK_T
        MENUITEM "Block Read(Interval Timeout)", IDM_READ_BLOCK_I
        MENUITEM "Block Read(Total+Interval Timeout)", IDM_READ_BLOCK_TI
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Help",                       IDM_HELP_ABOUT
    END
END


IDD_WRITE_STAT DIALOG DISCARDABLE  0, 0, 174, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Write Status"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "Stop",IDCANCEL,115,90,50,14
    LTEXT           "sio_write( ) >0 Count : ",IDC_STATIC1,10,20,90,10
    LTEXT           "",IDC_WRITE_COUNT,110,20,50,10,SS_SUNKEN
    LTEXT           "sio_write( ) Elapsed Time : ",IDC_STATIC2,10,60,90,10
    LTEXT           "",IDC_WRITE_TIME,110,60,50,10,SS_SUNKEN
    GROUPBOX        "",IDC_STATIC3,5,5,165,75
    LTEXT           "Call sio_write( ) Count :",IDC_STATIC4,10,40,90,10
    LTEXT           "",IDC_WRITE_CALLCNT,110,40,50,10,SS_SUNKEN
END

IDD_READ_STAT DIALOG DISCARDABLE  0, 0, 174, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Read Status"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "Stop",IDCANCEL,120,90,50,14
    LTEXT           "sio_read( ) >0 Count : ",IDC_STATIC5,10,20,90,10
    LTEXT           "",IDC_READ_COUNT,110,20,50,10,SS_SUNKEN
    LTEXT           "sio_read( ) Elapsed Time : ",IDC_STATIC6,10,60,90,10
    LTEXT           "",IDC_READ_TIME,110,60,50,10,SS_SUNKEN
    GROUPBOX        "",IDC_STATIC7,5,5,165,75
    LTEXT           "Call sio_read( ) Count :",IDC_STATIC8,10,40,90,10
    LTEXT           "",IDC_READ_CALLCNT,110,40,50,10,SS_SUNKEN
END
