<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="com" value="1"/>
		<add key="baudrate" value="115200"/>
		<add key="databits" value="8"/>
		<add key="stopbits" value="1"/>
		<add key="parity" value="NONE"/>
		<add key="ishw" value="false"/>
		<add key="issw" value="false"/>
		<add key="isdtr" value="true"/>
		<add key="isrts" value="true"/>
		<add key="directory" value="*&gt;C:\temp"/>
		<add key="autorun" value="false"/>
		<add key="maxsize" value="50"/>
		<add key="exitpassword" value="exit"/>
		<add key="usepipe" value="true"/>
	</appSettings>
</configuration>