
#include <windows.h>
#include "resource.h"

IDD_OPEN DIALOG DISCARDABLE  0, 0, 176, 143
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Open Port"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Com Option",IDC_STATIC1,5,5,100,85
    RTEXT           "&Port : ",IDC_STATIC2,10,15,40,12
    COMBOBOX        IDC_PORT,55,15,45,49,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    RTEXT           "&Baud Rate : ",IDC_STATIC3,10,30,40,12
    COMBOBOX        IDC_BAUD,55,30,45,51,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    RTEXT           "P&arity : ",IDC_STATIC4,10,45,40,12
    COMBOBOX        IDC_PARITY,55,45,45,51,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    RTEXT           "&Data Bits : ",IDC_STATIC5,10,60,40,12
    COMBOBOX        IDC_DATABITS,55,60,45,51,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    RTEXT           "&Stop Bits : ",IDC_STATIC6,10,75,40,12
    COMBOBOX        IDC_STOPBITS,55,75,45,51,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    DEFPUSHBUTTON   "OK",IDOK,115,15,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,115,40,50,14
    GROUPBOX        "Flow Control",IDC_STATIC7,5,95,100,40
    CONTROL         "RTS / CTS",IDC_HW,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    15,105,80,10
    CONTROL         "XON / XOFF",IDC_SW,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,15,120,80,10
    GROUPBOX        "Initial State",IDC_STATIC8,115,95,55,40
    CONTROL         "DTR",IDC_DTR,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,125,
                    105,30,10
    CONTROL         "RTS",IDC_RTS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,125,
                    120,35,10
END

IDD_ABOUT DIALOG DISCARDABLE  0, 0, 207, 61
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,160,10,40,14
    LTEXT           "",IDC_ABOUTSTR1,20,15,129,10
    LTEXT           "",IDC_ABOUTSTR2,20,30,140,10
END


STRINGTABLE DISCARDABLE
BEGIN
    IDS_BAUD50              "50"
    IDS_BAUD75              "75"
    IDS_BAUD110             "110"
    IDS_BAUD134             "134.5"
    IDS_BAUD150             "150"
    IDS_BAUD300             "300"
    IDS_BAUD600             "600"
    IDS_BAUD1200            "1200"
    IDS_BAUD1800            "1800"
    IDS_BAUD2400            "2400"
    IDS_BAUD4800            "4800"
    IDS_BAUD7200            "7200"
    IDS_BAUD9600            "9600"
    IDS_BAUD19200           "19200"
    IDS_BAUD38400           "38400"
    IDS_BAUD57600           "57600"
    IDS_BAUD115200          "115200"
    IDS_BAUD230400          "230400"
    IDS_BAUD460800          "460800"
    IDS_BAUD921600          "921600"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_PARITYNONE          "None"
    IDS_PARITYEVEN          "Even"
    IDS_PARITYODD           "Odd"
    IDS_PARITYMARK          "Mark"
    IDS_PARITYSPACE         "Space"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_ONESTOPBIT          "1"
    IDS_TWOSTOPBITS         "2"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_DATABIT5            "5"
    IDS_DATABIT6            "6"
    IDS_DATABIT7            "7"
    IDS_DATABIT8            "8"
END
