/*
	Port Status example resource file.
*/


#include <windows.h>
#include "resource.h"

#include "pdlg.rc"

IDM_PORTSTAT MENU DISCARDABLE
BEGIN
    POPUP "&Port"
    BEGIN
        MENUITEM "&Open",                       IDM_PORT_OPEN
        MENUITEM "&Close",                      IDM_PORT_CLOSE
        MENUITEM SEPARATOR
        MENUITEM "&Exit",                       IDM_PORT_EXIT
    END
    POPUP "&Config"
    BEGIN
        MENUITEM "&Setting",                    IDM_PORT_SETTING
        MENUITEM "S&tatus",                     IDM_PORT_STATUS
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Help",                       IDM_HELP_ABOUT
    END
END


IDD_STATUS DIALOG DISCARDABLE  0, 0, 237, 236
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Port Status"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "Cancel",IDCANCEL,180,210,50,14
    LTEXT           "Port",IDC_STATIC1,15,5,40,10
    LTEXT           "",IDC_ST_PORT,60,5,51,10,SS_SUNKEN
    LTEXT           "Baud rate",IDC_STATIC2,15,36,40,10
    LTEXT           "",IDC_ST_BAUD,60,36,50,10,SS_SUNKEN
    LTEXT           "",IDC_ST_FLOW,15,80,210,10,SS_SUNKEN
    LTEXT           "Parity",IDC_STATIC3,15,50,40,10
    LTEXT           "",IDC_ST_PARITY,60,50,50,10,SS_SUNKEN
    LTEXT           "Data bits",IDC_STATIC4,125,36,45,10
    LTEXT           "",IDC_ST_DATABITS,179,36,45,10,SS_SUNKEN
    LTEXT           "Stop bits",IDC_STATIC5,125,50,45,10
    LTEXT           "",IDC_ST_STOPBITS,180,50,45,10,SS_SUNKEN
    GROUPBOX        " Communication ",IDC_STATIC6,10,20,220,45
    LTEXT           "",IDC_ST_CTS,15,120,40,10,SS_SUNKEN
    LTEXT           "",IDC_ST_DSR,15,135,40,10,SS_SUNKEN
    GROUPBOX        "Line Status",IDC_STATIC7,10,105,105,45
    LTEXT           "In queue",IDC_STATIC8,125,120,45,10
    LTEXT           "Out queue",IDC_STATIC9,125,135,50,10
    LTEXT           "",IDC_ST_IQUEUE,180,120,45,10,SS_SUNKEN
    LTEXT           "",IDC_ST_OQUEUE,180,135,45,10,SS_SUNKEN
    GROUPBOX        "Queue",IDC_STATIC10,120,105,110,45
    GROUPBOX        "Tx hold",IDC_STATIC11,120,155,110,50
    GROUPBOX        "Data Status",IDC_STATIC12,10,155,105,50
    LISTBOX         IDC_ST_DATASTAT,15,165,95,35,LBS_NOINTEGRALHEIGHT | 
                    LBS_NOSEL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "",IDC_ST_RI,70,120,40,10,SS_SUNKEN
    LTEXT           "",IDC_ST_DCD,70,135,40,10,SS_SUNKEN
    LISTBOX         IDC_ST_TXHOLD,125,165,100,35,LBS_NOINTEGRALHEIGHT | 
                    LBS_NOSEL | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Flow Control",IDC_STATIC13,10,70,220,25
END


