/*
	IrqDemo example resource file.
*/


#include <windows.h>
#include "resource.h"

#include "pdlg.rc"


IDM_IRQDEMO MENU DISCARDABLE
BEGIN
    POPUP "&Port"
    BEGIN
        MENUITEM "&Open",                       IDM_PORT_OPEN
        MENUITEM "&Close",                      IDM_PORT_CLOSE
        MENUITEM SEPARATOR
        MENUITEM "&Exit",                       IDM_PORT_EXIT
    END
    MENUITEM "&Setting...",                 IDM_PORT_SETTING
    POPUP "&Help"
    BEGIN
        MENUITEM "&About",                       IDM_HELP_ABOUT
    END
END

